#userToolsNav button {
    background: none;
    border: none;
    border-bottom: 1px solid #d0e296;
    color: #d0e296;
    display: inline;
    font-size: 16px;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    line-height: 14px;
    padding: 0;
}
