<div class="content-wrapper">
	<div id="footer">
		<hr />
		<div class="span-8">
			<h3>My Feedback About This Page</h3>
<form   id="FeedbackForm_FeedbackForm" action="/home/FeedbackForm" method="post" enctype="application/x-www-form-urlencoded">
	<textarea id="FeedbackForm_FeedbackForm_Content" name="Content" rows="5" cols="20"></textarea>
	<input class="action  button" id="FeedbackForm_FeedbackForm_action_submitFeedback" type="submit" name="action_submitFeedback" value="Tell Us" title="Tell Us" />
</form>
			
		</div>
		<div class="span-4">
			<h3>OpenStack</h3>
			<ul>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/openstack-security/">OpenStack Security</a></li>
				<li><a href="/projects/openstack-faq/">Common Questions</a></li>
				<li><a href="/blog/">Blog</a></li>
			</ul>
		</div>
		<div class="span-4">
			<h3>Community</h3>
			<ul>
				<li><a href="/community/">User Groups</a></li>
				<li><a href="/events/">Events</a></li>
				<li><a href="/jobs/">Jobs</a></li>
				<li><a href="/companies/">Companies</a></li>
				<li><a href="http://wiki.openstack.org/HowToContribute">Contribute</a></li>
			</ul>
		</div>
		<div class="span-4">
			<h3>Documentation</h3>
			<ul>
				<li><a href="http://docs.openstack.org/">OpenStack Manuals</a></li>
				<li><a href="http://www.openstack.org/software/start/">Getting Started</a></li>
				<li><a href="http://api.openstack.org/">API Documentation</a></li>
				<li><a href="http://wiki.openstack.org/">Wiki</a></li>
			</ul>
		</div>
		<div class="span-4 last">
			<h3>Branding &amp; Legal</h3>
			<ul>
				<li><a href="/brand/">Logos &amp; Guidelines</a></li>
				<li><a href="/brand/openstack-trademark-policy/">Trademark Policy</a></li>
				<li><a href="/privacy/">Privacy Policy</a></li>
				<li><a href="http://wiki.openstack.org/CLA">OpenStack CLA</a></li>
			</ul>
		</div>
		<hr />
		<p>The OpenStack project is provided under the Apache 2.0 license. Openstack.org is powered by <a href="http://www.rackspacecloud.com/">Rackspace Cloud Computing</a>.</p>
	</div>
</div>
